*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

 /* THIS SETTINGS ARE BASIC SETTINGS OF EVERY WEBSITE: */
 /* RESETS  */
:root{
     --primary-text-color: #183b56;
     --secondary-text-color: black;
     --accent-color: #2294ed;
     --accent-color-dark: #1d69a3;
     --padding-inline-section: 20px;
}
body{
    font-family:'Times New Roman', Times, serif;
    color: var(--padding-inline-section);
    background-color: #ebf2fa;
}
h1{
     font-size: 3rem;
}
h2{
     font-size: 2rem;
}
p{
   font-family: 'Times New Roman', Times, serif;
     font-size: 1rem;
     color: var(--secondary-text-color);
     line-height: 1.5rem;
}
a{
     text-decoration: none;
     display: inline-block;
}

ul{
     list-style: none;
}
/* UTILITY CLASSES ;this is used for same property for two or more clases for apply.*/
.container{ 
     width: 1180px;
     margin-inline: auto;   /*INLINE MEANS BOTH RIGHT&LEFT */
     padding-inline: var(--padding-inline-section);
}
.flex{
     display: flex;
     align-items: center;
}
.links{
     color: var(--primary-text-color);
}
.links:hover{
     color: var(--accent-color);
     transition: 0.2s ease-out;
}
.pri-button{
     background-color: var(--accent-color);
     border-radius: 6px;
     font-weight: 700px;
     color: white !important;
     padding: 12px 24px;
     box-shadow: 0 0 2px var(--secondary-text-color);
     transition: 0.2s ease-out;
}
.pri-button:hover{
     background-color: var(--accent-color-dark);
}
.sec-button{
     border: 0.5px solid var(--secondary-text-color);
     border-radius: 6px;
    font-weight: 700px;
    color: var(--secondary-text-color) !important;
    padding: 12px 24px;
    transform: 0.2s ease-out;
}
.sec-button:hover{
     border-color: var(--accent-color);

}

 
/* BANNER */
.banner-txt{
          font-size: 1.5rem;
          font-weight: 700;
     }
.banner{
     background-color: #4fb3d4; 
     background-image: url(bg.jpg);
     background-size: 300px;
}
   
.bnn{
     color: white;
     padding: 15px 30px; /*one value is for top to bottom last value is for left to right*/
     text-align: center;
}
/* NAV BAR  */
.main-nav{
     justify-content: space-between;
     margin-top: 20px;
     background-color: whitesmoke;
     
}
.nav-links{
     flex-basis: 730px;
}
.nav-links ul {
     justify-content: end;
     gap: 40px;
}
 .nav-links ul li{ 
 font-size: 1rem;
    font-weight: 550;
}
.logo img{
     width: 70px;

}
/* HEADER SECTION */
header{
       padding: 50px var(--padding-inline-section) ;

}   
.header-sec{
     justify-content: center;
     gap: 50px;
}
.hright img{
     width: 700px;
}
.hleft {
     max-width: 40vw;
}
.hleft h1{
     margin-top: 20px;
}
.hleft p{
     margin-top: 5px;
}
.GS{
     margin-top: 20px;

}
/* FEATURE SECTION */
.features-sec{
      padding: 50px var(--padding-inline-section) 0;
      margin: 10px; 
      
}
.fe-header{
     text-align: center;

}

.fe-header h2{ 
     margin-bottom: 20px;
     font-family: 'Times New Roman', Times, serif;
     color: crimson;
}

.fe-box img{
     width: 70px;
    
}
.fe-box{
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 40px;
     margin-top: 20px;
}
.fe-card{
     flex-direction: column;
     gap: 10px;
    max-width: 30%;
    text-align: center;
    
}


.cta-section{ 
      background-color: #183b54;
     padding: 30px 50px;
}
.cta-con{
     flex-direction: column;
     gap: 30px;
     color: white;
}
.cta-con p{
     color: white;
     margin-top: 20px;
}

footer{
     padding: 10px var(--padding-inline-section);
      background-color: #ebf2fa;
      
}
.foot-con{
     align-items: flex-start;
     justify-content: space-between;
}

.link-col{
     flex-direction: column ;
     align-items: flex-start;
     gap: 20px;
}

.subfooter{
     background-color: #b9cde4;
     padding: var(--padding-inline-section);
}
.sub-con{
     justify-content: center;
     gap: 30px;
}
sub-footer {
     text-align: center;
     text-decoration: none;
     color: black;
     padding: 0;
     height: 2vh;
     background-color: #b9cde4;
}